---
import Chip from "@components/resume/Chip.astro";

const skills = [
  "CSS & SASS",
  "Figma",
  "Git & GitHub",
  "HTML",
  "JavaScript & TypeScript",
  "Jest",
  "JIRA",
  "Material UI & Vuetify",
  "React & Next.js",
  "Vue.js & Nuxt",
  "Storybook",
  "NVDA, TalkBack & VoiceOver",
  "Hot sauces",
];

const buzzwords = [
  "Accessibility",
  "Atomic Design",
  "Best Practices",
  "Clean Code",
  "Prototyping",
  "SEO",
  "Testing",
  "UI & UX",
];

const education = [
  {
    title: "Introduction to Web Accessibility",
    institut: "edX (online)",
    timePeriod: "April 2021",
  },
  {
    title: "Full Stack Web Development",
    institut: "SPICED Academy (Berlin)",
    timePeriod: "March 2019 to May 2019",
  },
  {
    title: "Sound Engineering / Music Production",
    institut: "Deutsche POP (Berlin)",
    timePeriod: "October 2009 to November 2011",
  },
  {
    title: "Commercial assistant specialized in information processing",
    institut: "Kant-Akademie (Berlin)",
    timePeriod: "August 2005 to July 2007",
  },
];

const languages = [
  {
    name: "English",
    proficiency: "Professional working proficiency",
  },
  {
    name: "German",
    proficiency: "Native proficiency",
  },
  {
    name: "Dog",
    proficiency: "Professional working proficiency",
  },
];
---

<section aria-label="Miscellaneous">
  <div id="skills">
    <h2>Skills</h2>
    <ul class="chips-list">
      {
        skills.map((item) => (
          <li>
            <Chip name={item} />
          </li>
        ))
      }
    </ul>
  </div>

  <div id="buzzwords">
    <h2>Buzzwords</h2>
    <ul class="chips-list">
      {
        buzzwords.map((item) => (
          <li>
            <Chip name={item} />
          </li>
        ))
      }
    </ul>
  </div>

  <div id="education">
    <h2>Education</h2>
    <ul id="education-list">
      {
        education.map((item) => (
          <li>
            <h3>{item.title}</h3>
            <span>{item.institut}</span>
            <span>{item.timePeriod}</span>
          </li>
        ))
      }
    </ul>
  </div>

  <div id="languages">
    <h2>Languages</h2>
    <ul id="languages-list">
      {
        languages.map((item) => (
          <li>
            <h3>{item.name}</h3>
            <span>{item.proficiency}</span>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    width: 100%;
    padding: 0;
  }

  h2 {
    margin-top: var(--space-xl);
  }

  h2:first-child() {
    margin-top: 0;
  }

  .chips-list,
  #education-list,
  #languages-list {
    margin: var(--space-l) 0 var(--space-l) 0;
    padding: 0;
  }

  .chips-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s);
  }

  #education-list li {
    margin-bottom: var(--space-l);
  }

  #education-list h3 {
    margin-bottom: var(--space-xs);
  }

  #education-list span:nth-child(2),
  #education-list span:nth-child(3) {
    font-size: var(--step-1);
  }

  #education-list span:nth-child(2) {
    font-family: "Syne", sans-serif;
  }

  #education-list span:nth-child(3) {
    display: block;
    font-family: "Atkinson Hyperlegible", serif;
    font-style: italic;
  }

  #languages-list span {
    font-family: "Atkinson Hyperlegible", serif;
    font-size: var(--step-1);
    font-style: italic;
  }

  #languages-list li {
    margin-bottom: var(--space-l);
  }
</style>
