---
import { storyblokEditable } from '@storyblok/astro';
import { useStoryblokApi } from '@storyblok/astro';

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get('cdn/stories', {
  version: import.meta.env.DEV ? 'draft' : 'published',
  content_type: 'blogPost',
});

const posts = data.stories.map((story: any) => {
  const date = new Date(story.published_at);
  const formattedDate = date.toLocaleDateString('en-US', {
    month: 'long',
    day: 'numeric',
    year: 'numeric',
  });

  return {
    image: story.content.image,
    title: story.content.title,
    date: formattedDate,
    summary: story.content.summary,
    slug: story.full_slug,
    datetime: date.toISOString().split('T')[0],
  };
});

const { blok } = Astro.props;
---

<ul {...storyblokEditable(blok)} role='list'>
  {
    posts.map(
      (post: {
        date: unknown;
        slug: string | URL | null | undefined;
        title: unknown;
        summary: unknown;
        datetime: string;
        image: string;
      }) => (
        <li>
          {post.image ? (
            <img
              alt=''
              height={300}
              decoding='async'
              loading='lazy'
              src={post.image}
              width={600}
            />
          ) : null}
          <h2>
            <a href={post.slug}>{post.title}</a>
          </h2>
          <time class='sub-headline' datetime={post.datetime}>
            {post.date}
          </time>
          {post.summary ? <p>{post.summary}</p> : null}
        </li>
      )
    )
  }
</ul>

<style lang='scss'>
  ul {
    list-style-type: none;
    margin: 0 0 var(--space-l) 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--space-s);
  }

  li {
    background: var(--color-black-alt);
  }

  img {
    object-fit: cover;
    width: 100%;
  }

  h2,
  .sub-headline,
  p {
    padding: 0 var(--space-s);
  }

  h2 {
    line-height: 1;
    margin-bottom: var(--space-2xs);
  }

  .sub-headline {
    font-size: var(--space-s);
  }

  p {
    font-family: 'Atkinson Hyperlegible', serif;
    margin: var(--space-s) 0;
  }

  a {
    font-size: var(--step-2);
    font-family: 'Syne', sans-serif;
  }
</style>
