---
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import ExternalLink from "@components/utils/ExternalLink.astro";

import desktop from "@images/icons/desktop.svg";
import gitHub from "@images/icons/github-white.svg";
import linkedIn from "@images/icons/linkedin-white.svg";
import mastodon from "@images/icons/mastodon-white.svg";

const links = [
  {
    externalLink: false,
    href: "/",
    height: 36,
    name: "Website",
    src: desktop,
    width: 36,
  },
  {
    externalLink: true,
    href: "https://www.linkedin.com/in/stevefrenzel",
    height: 36,
    name: "LinkedIn",
    src: linkedIn,
    width: 36,
  },
  {
    externalLink: true,
    href: "https://github.com/stevefrenzel",
    height: 36,
    name: "GitHub",
    src: gitHub,
    width: 36,
  },
  {
    externalLink: true,
    href: "https://mastodon.online/@stvfrnzl",
    height: 36,
    name: "Mastodon",
    src: mastodon,
    width: 36,
  },
];
---

<Layout title="Accessibility statement">
  <div id="a11y-statement">
    <header>
      <h1>Accessibility statement</h1>
      <p>Last update: March 6, 2024</p>
    </header>
    <main>
      <p>
        I am committed to digital inclusion principles by striving to meet or
        exceed the requirements for the
        <ExternalLink
          href="https://www.w3.org/TR/WCAG22/"
          name="Web Content Accessibility Guidelines 2.2"
        />, level AA conformance.
      </p>
      <p>
        I am constantly working towards improving the accessibility of this
        website to provide an inclusive experience to all users, including but
        not limited to those with visual, hearing, cognitive and motor
        impairments.
      </p>
      <p>
        If you encounter accessibility barriers, let me know by <a
          href="mailto:stvfrnzl@duck.go">emailing me</a
        >. Please be sure to specify the webpage and assistive technology (if
        applicable), and I will do my best to meet your needs. You can also
        reach out via LinkedIn, GitHub or Mastodon, see the links below.
      </p>
      <p>
        Steve Frenzel, <br aria-hidden="true" />Web Developer & Accessibility
        Avocado 🥑
      </p>
    </main>
    <footer>
      <ul>
        {
          links.map((link) => (
            <li>
              <Image
                alt=""
                height={link.height}
                src={link.src}
                width={link.width}
                loading="eager"
              />
              {link.externalLink ? (
                <ExternalLink href={link.href} name={link.name} />
              ) : (
                <a href={link.href}>{link.name}</a>
              )}
            </li>
          ))
        }
      </ul>
    </footer>
  </div>
</Layout>

<style>
  div {
    margin: 0 auto;
    max-width: 888px;
    padding: 0 var(--space-s);
  }
  footer {
    margin-top: var(--space-m);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    margin: var(--space-m) 0 0 0;
    padding: 0;
  }

  li {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
</style>
