---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { getReadingTime } from "@components/lib/getReadingTime";
import Layout from "@layouts/Layout.astro";
import SkipLink from "@utils/SkipLink.astro";
import rss from "@images/icons/rss-feed.svg";

const contentCollection = await getCollection("blog");
contentCollection.sort(
  (first, second) =>
    new Date(second.data.pubDate).getTime() -
    new Date(first.data.pubDate).getTime(),
);

const postsByYear = contentCollection.reduce((acc: any, post) => {
  const year = new Date(post.data.pubDate).getFullYear();
  acc[year] = acc[year] || [];
  acc[year].push(post);
  return acc;
}, {});

const years = Object.keys(postsByYear).sort((a: any, b: any) => b - a);

const socialImageURL = new URL("/blog-hates-us-all.png", Astro.url).toString();
---

<Layout
  description="A blog about web accessibility, nerdy music stuff, everything beyond and in-between by Steve Frenzel. Fuck off if this offends you: 🏳️‍⚧️ 🏳️‍🌈 ✊🏿"
  thumbnail={socialImageURL}
  title="Blog hates us all"
>
  <div id="blog-wrapper">
    <header>
      <SkipLink />
      <h1>Blog hates us all</h1>
      <p>
        A blog about web accessibility, nerdy music stuff, everything beyond and
        in-between by Steve Frenzel. Fuck off if this offends you: 🏳️‍⚧️ 🏳️‍🌈 ✊🏿
      </p>
      <div>
        <Image alt="" height={36} src={rss} width={36} />
        <a href="/rss.xml">RSS feed</a>
      </div>
    </header>
    <main id="main">
      {
        years.map((year) => (
          <div>
            <h2>{year}</h2>
            <ul class="smol-css-grid">
              {postsByYear[year].map((post: any) => (
                <li>
                  {post.data.image ? (
                    <Image
                      alt={post.data.image.alt}
                      src={post.data.image.url}
                    />
                  ) : null}
                  <a href={`/posts/${post.slug}`}>{post.data.title}</a>
                  <time>
                    {post.data.pubDate.toLocaleDateString(undefined, {
                      year: "numeric",
                      month: "long",
                      day: "numeric",
                    })}
                    {""}- {getReadingTime(post.body)} min read
                  </time>
                  <p class="description">{post.data.description}</p>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </main>
  </div>
</Layout>

<style lang="scss">
  #blog-wrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 var(--space-s);
  }

  header {
    padding-bottom: var(--space-s);

    p {
      margin-top: var(--space-xs);
      max-width: 60ch;
      text-wrap: balance;
    }

    div {
      align-items: center;
      display: flex;
      gap: var(--space-3xs);
      margin-top: var(--space-xs);
    }
  }

  .smol-css-grid {
    display: grid;
    grid-gap: var(--space-xl);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 30ch), 1fr));
    margin-top: var(--space-l);
    padding: 0;

    img {
      height: auto;
      margin-bottom: var(--space-s);
    }

    a {
      font-size: var(--step-2);
    }
  }

  time {
    display: block;
    font-size: var(--step-0);
  }
  .description {
    margin-top: var(--space-xs);
  }
  p {
    margin: 0;
  }
</style>
