---
import { useStoryblokApi } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import Layout from '@layouts/Layout.astro';
import { Image } from '@astrojs/image/components';

import desktop from '@images/icons/desktop.svg';
import gitHub from '@images/icons/github-white.svg';
import linkedIn from '@images/icons/linkedin-white.svg';
import mastodon from '@images/icons/mastodon-white.svg';

const links = [
  {
    href: 'https://www.stevefrenzel.dev',
    height: 36,
    name: 'Website',
    src: desktop,
    width: 36,
  },
  {
    href: 'https://www.linkedin.com/in/stevefrenzel',
    height: 36,
    name: 'LinkedIn',
    src: linkedIn,
    width: 36,
  },
  {
    href: 'https://github.com/stevefrenzel',
    height: 36,
    name: 'GitHub',
    src: gitHub,
    width: 36,
  },
  {
    href: 'https://mastodon.online/@stvfrnzl',
    height: 36,
    name: 'Mastodon',
    src: mastodon,
    width: 36,
  },
];

const storyblokApi = useStoryblokApi();
let content;

try {
  const { data } = await storyblokApi.get('cdn/stories/home', {
    version: import.meta.env.DEV ? 'draft' : 'published',
  });
  content = data.story.content;
} catch (error) {
  console.error(error);
}
---

<script>
  const highlight = document.getElementById('mark');
  const colors = ['color-1', 'color-2', 'color-3', 'color-4'];

  const randomColorIndex = Math.floor(Math.random() * colors.length);
  const randomColorClass = colors[randomColorIndex];
  highlight?.classList.add(randomColorClass);
</script>

<Layout
  websiteUrl='https://stevefrenzel.dev/blog/'
  title='Steve Frenzel - Blog'
>
  <header class='text'>
    <div class='grid-container'>
      <div class='content-left'>
        <h1>Steve Frenzel - Blog</h1>
        <p>
          Welcome to the collection of my thoughts! Here I write about topics
          like
          <mark id='mark'
            >web development, music, books, hot sauces and everything else</mark
          >
          I have an opinion about.
        </p>
      </div>
      <div class='content-right'>
        <ul role='list'>
          {
            links.map((link) => (
              <li>
                <Image
                  alt=''
                  height={link.height}
                  src={link.src}
                  width={link.width}
                />
                <a href={link.href} rel='noopener noreferrer'>
                  {link.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class='hr-wrapper'>
      <hr aria-hidden='true' />
    </div>
  </header>
  <div>
    <StoryblokComponent blok={content} />
  </div>
</Layout>

<style>
  body {
    background: var(--color-black-alt) !important;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1536px;
    margin: 0 auto var(--space-s) auto;
    gap: var(--space-s);
  }
  .content-left,
  .content-right {
    align-self: center;
  }

  h1 {
    padding: var(--space-s);
  }

  p {
    max-width: 60ch;
    padding: 0 var(--space-s);
  }

  .hr-wrapper {
    margin: 0 auto var(--space-m) auto;
    max-width: 1536px;
  }

  hr {
    border-bottom: 3px solid var(--color-white);
    margin: 0 var(--space-s);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-m);
    margin: 0;
    padding: 0 var(--space-s);
  }

  li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-xs);
  }

  .color-1 {
    background: var(--color-accent-about);
  }

  .color-2 {
    background: var(--color-accent-collaborations);
  }

  .color-3 {
    background: var(--color-accent-contact);
  }

  .color-4 {
    background: var(--color-accent-projects);
    color: var(--color-white);
  }
</style>
