---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import { getReadingTime } from "@components/lib/getReadingTime";
import ExternalLink from "@components/utils/ExternalLink.astro";

import Layout from "@layouts/Layout.astro";
import SkipLink from "@utils/SkipLink.astro";

import mastodon from "@images/icons/mastodon-white.svg";
import mail from "@images/icons/mail.svg";
import rss from "@images/icons/rss-feed.svg";
import logo from "@images/bhua-logo-noise.svg";

const links = [
  {
    href: "mailto:stvfrnzl@duck.go",
    height: 36,
    externalLink: true,
    name: "E-Mail",
    src: mail,
    width: 36,
  },
  {
    href: "https://mastodon.online/@stvfrnzl",
    height: 36,
    externalLink: true,
    name: "Mastodon",
    src: mastodon,
    width: 36,
  },
  {
    href: "/rss.xml",
    height: 36,
    externalLink: false,
    name: "RSS feed",
    src: rss,
    width: 36,
  },
];

const contentCollection = await getCollection("posts");
contentCollection.sort(
  (first, second) =>
    new Date(second.data.pubDate).getTime() -
    new Date(first.data.pubDate).getTime(),
);

const postsByYear = contentCollection.reduce((acc: any, post) => {
  const year = new Date(post.data.pubDate).getFullYear();
  acc[year] = acc[year] || [];
  acc[year].push(post);
  return acc;
}, {});

const years = Object.keys(postsByYear).sort((a: any, b: any) => b - a);

const socialImageURL = new URL("/blog-hates-us-all.png", Astro.url).toString();
---

<Layout
  description="A blog about web accessibility, nerdy music stuff, everything beyond and in-between by Steve Frenzel. Fuck off if this offends you: 🏳️‍⚧️ 🏳️‍🌈 ✊🏿"
  thumbnail={socialImageURL}
  title="Blog hates us all"
>
  <div id="blog-wrapper">
    <header>
      <SkipLink />
      <div class="header-container">
        <Image
          alt="Blog hates us all logo"
          src={logo}
          width={666}
          loading="eager"
        />
        <h1 class="visually-hidden">Blog hates us all</h1>
        <div>
          <p>
            A blog about web accessibility, nerdy music stuff, everything beyond
            and in-between by Steve Frenzel. Fuck off if this offends you: 🏳️‍⚧️ 🏳️‍🌈
            ✊🏿
          </p>
          <ul>
            {
              links.map((link) => (
                <li>
                  <Image
                    alt=""
                    height={link.height}
                    src={link.src}
                    width={link.width}
                    loading="eager"
                  />
                  {link.externalLink ? (
                    <ExternalLink href={link.href} name={link.name} />
                  ) : (
                    <a href={link.href}>{link.name}</a>
                  )}
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </header>
    <main id="main">
      {
        years.map((year) => (
          <div>
            <h2>{year}</h2>
            <ul class="smol-css-grid">
              {postsByYear[year].map((post: any) => (
                <li>
                  {post.data.image ? (
                    <Image
                      alt={post.data.image.alt}
                      src={post.data.image.url}
                    />
                  ) : null}
                  <a href={`/posts/${post.slug}`}>{post.data.title}</a>
                  <time>
                    {post.data.pubDate.toLocaleDateString(undefined, {
                      year: "numeric",
                      month: "long",
                      day: "numeric",
                    })}
                    {""}- {getReadingTime(post.body)} min read
                  </time>
                  <p class="description">{post.data.description}</p>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </main>
  </div>
</Layout>

<style lang="scss">
  #blog-wrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 var(--space-s);
  }

  header {
    padding-bottom: var(--space-s);

    p {
      max-width: 50ch;
    }

    div {
      align-items: center;
      display: flex;
      gap: var(--space-3xs);
      margin-top: var(--space-xs);
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: var(--space-s);
      justify-content: start;
      list-style-type: none;
      margin: var(--space-s) 0 0 0;
      padding: 0;
    }

    li {
      align-items: center;
      display: flex;
      gap: var(--space-3xs);
    }

    li:first-child() img {
      margin-right: var(--space-3xs);
    }
  }

  .header-container {
    display: flex;
    flex-direction: column;

    div {
      flex-direction: column;
    }
  }

  .smol-css-grid {
    display: grid;
    grid-gap: var(--space-xl);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 30ch), 1fr));
    margin-top: var(--space-l);
    padding: 0;

    img {
      height: auto;
      margin-bottom: var(--space-s);
    }

    a {
      font-size: var(--step-2);
    }
  }

  time {
    display: block;
    font-size: var(--step-0);
  }
  .description {
    margin-top: var(--space-xs);
  }
  p {
    margin: 0;
  }
</style>
