---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { getReadingTime } from "@components/lib/getReadingTime";
import Layout from "@layouts/Layout.astro";
import SkipLink from "@utils/SkipLink.astro";
import rss from "@images/icons/rss-feed.svg";

const contentCollection = await getCollection("blog");
contentCollection.sort(
  (first, second) =>
    new Date(second.data.pubDate).getTime() -
    new Date(first.data.pubDate).getTime(),
);

function getRandomString() {
  const blogTitles = [
    "Oh my blog",
    "Blog hates us all",
    "Good cop, bad blog",
    "Blog giveth & blog taketh",
    "In blog we trust",
    "Blogzilla",
    "Blogbusters",
  ];
  const randomIndex = Math.floor(Math.random() * blogTitles.length);
  return blogTitles[randomIndex];
}

const socialImageURL = new URL("/blog.png", Astro.url).toString();
---

<Layout
  thumbnail={socialImageURL}
  title="Steve Frenzel - Web Developer & Accessibility Advocate"
>
  <div id="blog-wrapper">
    <header>
      <SkipLink />
      <h1 id="dynamic-title"></h1>
      <p>
        A blog about web accessibility, nerdy music stuff, everything beyond and
        in-between by Steve Frenzel. Fuck off if these colors offend you: 🏳️‍⚧️🏳️‍🌈
      </p>
      <div>
        <Image alt="" height={36} src={rss} width={36} />
        <a href="/rss.xml">RSS feed</a>
      </div>
    </header>
    <main id="main">
      <ul class="smol-css-grid">
        {
          contentCollection.map((post: any) => (
            <li>
              {post.data.image ? (
                <Image alt={post.data.image.alt} src={post.data.image.url} />
              ) : null}
              <a href={`/posts/${post.slug}`}>{post.data.title}</a>
              <time>
                {post.data.pubDate.toLocaleDateString(undefined, {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })}{" "}
                - {getReadingTime(post.body)} min read
              </time>
              <p class="description">{post.data.description}</p>
            </li>
          ))
        }
      </ul>
    </main>
  </div>
</Layout>

<script type="module">
  const dynamicTitleElement = document.getElementById("dynamic-title");
  const blogTitles = [
    "Oh my blog",
    "Blog hates us all",
    "Good cop, bad blog",
    "Blog giveth & blog taketh",
    "In blog we trust",
    "Blogzilla",
    "Blogbusters",
  ];
  const randomIndex = Math.floor(Math.random() * blogTitles.length);
  const randomString = blogTitles[randomIndex];
  dynamicTitleElement.textContent = randomString;
</script>

<style>
  #blog-wrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 var(--space-s);
  }

  header {
    padding-bottom: var(--space-s);
  }
  header p {
    margin-top: var(--space-xs);
    max-width: 60ch;
    text-wrap: balance;
  }

  header div {
    align-items: center;
    display: flex;
    gap: var(--space-3xs);
    margin-top: var(--space-xs);
  }

  .smol-css-grid {
    display: grid;
    grid-gap: var(--space-xl);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 30ch), 1fr));
    margin-top: var(--space-l);
    padding: 0;
  }

  .smol-css-grid img {
    height: auto;
    margin-bottom: var(--space-s);
  }

  .smol-css-grid a {
    font-size: var(--step-2);
  }
  time {
    display: block;
    font-size: var(--step-0);
  }
  .description {
    margin-top: var(--space-xs);
  }
  p {
    margin: 0;
  }
</style>
