---
import { Image } from '@astrojs/image/components';
import TextAndPicture from './TextAndPicture.astro';

import larry from '@assets/images/larry-high-five.svg';

import fifthIndustry from '@assets/images/company-logos/5th-industry.png';
import interfaceMedien from '@assets/images/company-logos/ifm-neu.png';
import inboundLabs from '@assets/images/company-logos/inboundlabs.png';
import nexum from '@assets/images/company-logos/nexum.png';
import owncloud from '@assets/images/company-logos/owncloud.png';
import sellwerk from '@assets/images/company-logos/sellwerk.png';

const altText = 'Larry doing a high five with a basketball player';
const clients = [
  {
    height: 203,
    logo: fifthIndustry,
    name: '5thIndustry',
    url: 'https://5thindustry.de/',
    width: 1003,
  },
  {
    height: 259,
    logo: inboundLabs,
    name: 'InboundLabs',
    url: 'https://w.inboundlabs.co/',
    width: 1350,
  },
  {
    height: 389,
    logo: interfaceMedien,
    name: 'interface medien',
    url: 'https://www.interface-medien.de/',
    width: 1105,
  },
  {
    height: 163,
    logo: nexum,
    name: 'nexum',
    url: 'https://www.nexum.com/',
    width: 591,
  },
  {
    height: 468,
    logo: owncloud,
    name: 'ownCloud',
    url: 'https://owncloud.com/',
    width: 910,
  },
  {
    height: 230,
    logo: sellwerk,
    name: 'Sellwerk',
    url: 'https://sellwerk.de/',
    width: 882,
  },
];
const description =
  'I have had the pleasure to <mark>work with some amazing people</mark>. Here is a selected list of clients I have had the pleasure to work with.';
const headline = 'Who I work(ed) with';
---

<section aria-label='clients' id='clients'>
  <img src={larry} alt='' />
  <TextAndPicture
    altText={altText}
    ariaLabel='Clients'
    description={description}
    headline={headline}
    headlineId='clients'
    image={larry}
    pictureLeft
  />

  <div class='flex-container'>
    <ul>
      {
        clients.map((client) => (
          <div>
            <li>
              <Image
                src={client.logo}
                alt={client.name}
                height={client.height}
                width={client.width}
              />
            </li>
          </div>
        ))
      }
    </ul>
  </div>

  <hr />
</section>

<style lang='scss'>
  section {
    .flex-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2em;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1em;

        li {
          img {
            margin-bottom: 0.5em;
            max-width: 300px;
            height: auto;
          }
          a {
            color: black;
          }
        }
      }
    }
  }
</style>
