---
import { Image } from '@astrojs/image/components';
import SectionHeader from '@components/SectionHeader.astro';
import Divider from '@components/Divider.astro';

import fifthIndustry from '@images/company-logos/logo-5thindustry.svg';
import inboundLabs from '@images/company-logos/logo-inboundlabs.svg';
import interfaceMedien from '@images/company-logos/logo-interface-medien.svg';
import nexum from '@images/company-logos/logo-nexum.svg';
import ownCloud from '@images/company-logos/logo-owncloud.svg';
import sellwerk from '@images/company-logos/logo-sellwerk.svg';

const companies = [
  {
    icon: fifthIndustry,
    name: '5th Industry',
    url: 'https://www.5thindustry.de/',
    width: 300,
  },
  {
    icon: inboundLabs,
    name: 'InboundLabs',
    url: 'https://www.inboundlabs.de/',
    width: 300,
  },
  {
    icon: interfaceMedien,
    name: 'Interface Medien',
    width: 300,
    url: 'https://interface-medien.de/',
  },
  { icon: nexum, name: 'Nexum AG', url: 'https://www.nexum.com/', width: 200 },
  {
    icon: ownCloud,
    name: 'ownCloud',
    url: 'https://owncloud.com/',
    width: 200,
  },
  { icon: sellwerk, name: 'Sellwerk', url: 'https://sellwerk.de/', width: 300 },
];
---

<section aria-label='Clients' id='clients'>
  <SectionHeader ariaLabel='Link to clients' href='#clients' title='Clients' />
  <p>
    I have had the pleasure to <mark>work with some amazing people</mark>, be it
    a small company with their own product, or an agency with multiple
    customers.
  </p>
  <div class='link-list'>
    {
      companies.map((item) => (
        <a aria-label={item.name} href={item.url} rel='noopener noreferrer'>
          <div>
            <Image alt={item.name} src={item.icon} width={item.width} />
          </div>
        </a>
      ))
    }
  </div>
</section>
<Divider />

<style>
  section {
    max-width: 768px;
  }

  p {
    max-width: 60ch;
  }

  .link-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xl);
    justify-content: center;
    margin-top: var(--space-xl);
  }
</style>
