---
import { Image } from "astro:assets";
import DividerVertical from "@utils/DividerVertical.astro";
import ExternalLink from "@utils/ExternalLink.astro";
import pictureOfMe from "@images/picture-of-me.jpg";
import gitHub from "@images/icons/github.svg";
import linkedIn from "@images/icons/linkedin.svg";
import mastodon from "@images/icons/mastodon.svg";

const socialLinks = [
  {
    icon: linkedIn,
    name: "LinkedIn",
    rel: "noopener noreferrer",
    url: "https://www.linkedin.com/in/stevefrenzel/",
  },
  {
    icon: gitHub,
    name: "GitHub",
    rel: "noopener noreferrer",
    url: "https://github.com/stevefrenzel",
  },
  {
    icon: mastodon,
    name: "Mastodon",
    rel: "me",
    url: "https://mastodon.online/@stvfrnzl",
  },
];
---

<section aria-label="Intro" id="intro">
  <div class="headline-container">
    <h1>Steve Frenzel</h1>
    <span class="sub-headline">Web Developer & Accessibility Advocate</span>
  </div>
  <div class="grid-container">
    <Image
      alt="Steve Frenzel - Web Developer & Accessibility Advocate"
      height={600}
      id="profile-picture"
      loading="eager"
      src={pictureOfMe}
      style="object-fit: cover;"
      width={600}
    />
    <div class="text-container">
      <p>
        I specialize in designing and implementing robust and inclusive
        websites. My focus is on accessibility, which I educate about and
        implement practically. I am also a music nerd and love hot sauces! 🔥
      </p>
      <p>
        If you want to get in touch with me, write me an <a
          href="mailto:stvfrnzl@duck.go">e-mail</a
        >, or find me on the following platforms:
      </p>
      <ul>
        {
          socialLinks.map((item) => (
            <li>
              <Image alt="" class="icon" src={item.icon} loading="eager" />
              <ExternalLink
                fontSize="var(--step-2)"
                href={item.url}
                name={item.name}
                rel={item.rel}
              />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>

<DividerVertical borderStyle="dashed" />

<style>
  section {
    max-width: 100%;
    padding: var(--space-s) var(--space-s) var(--space-xl) var(--space-s);
  }

  .headline-container {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s);
    margin: 0 auto var(--space-xs) auto;
    max-width: 1536px;

    h1 {
      margin: 0;
    }
  }

  .grid-container {
    display: grid;
    gap: var(--space-m);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    max-width: 1536px;
    margin: 0 auto;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-m);
    list-style-type: none;
    margin: var(--space-l) 0 0 0;
    padding: 0;
  }

  li {
    align-items: center;
    display: flex;
    gap: var(--space-2xs);
  }

  .icon {
    height: 48px;
    width: 48px;
  }

  .text-container {
    align-self: center;

    a,
    p {
      font-size: var(--step-2);
    }

    p:first-child() {
      margin-bottom: var(--space-m);
    }
  }

  .text {
    margin-top: var(--space-m);
  }
</style>
