---
import { Image } from '@astrojs/image/components';
import Divider from '@components/Divider.astro';

import pictureOfMe from '@images/picture-of-me.jpg';
import gitHub from '@images/icons/github.svg';
import linkedIn from '@images/icons/linkedin.svg';
import mastodon from '@images/icons/mastodon.svg';

const socialLinks = [
  {
    alt: 'Steve Frenzel on GitHub',
    icon: gitHub,
    name: 'GitHub',
    rel: 'noopener noreferrer',
    url: 'https://github.com/stevefrenzel',
  },
  {
    alt: 'Steve Frenzel on LinkedIn',
    icon: linkedIn,
    name: 'LinkedIn',
    rel: 'noopener noreferrer',
    url: 'https://www.linkedin.com/in/stevefrenzel/',
  },
  {
    alt: 'Steve Frenzel on Mastodon',
    icon: mastodon,
    name: 'Mastodon',
    rel: 'me',
    url: 'https://mastodon.online/@stvfrnzl',
  },
];
---

<section aria-label='Intro' id='intro'>
  <div class='grid-container'>
    <div class='image-container'>
      <div class='text'>
        <h1>Steve Frenzel</h1>
        <span class='sub-headline'>Web developer & accessibility engineer</span>
      </div>
      <Image
        alt='Steve Frenzel - Web developer & accessibility engineer'
        src={pictureOfMe}
        style='object-fit: cover;'
        width={600}
        height={600}
        id='profile-picture'
      />
    </div>
    <div class='text-container'>
      <p class='paragraph'>
        I specialize in designing and implementing <mark
          >robust and inclusive websites</mark
        >. My focus is on accessibility, which I educate about and implement
        practically. I am also a music nerd and love hot sauces! 🔥
      </p>
      <p>
        If you want to get in touch with me, fill out the <a href='#contact'
          >contact form</a
        >. You can also find me on the following platforms:
      </p>
      <ul>
        {
          socialLinks.map((item) => (
            <li>
              <Image alt={item.alt} class='icon' src={item.icon} />
              <a href={item.url} rel={item.rel}>
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
<Divider />

<style lang='scss'>
  section {
    background: var(--color-white-alt);
    margin-top: var(--space-l);
    max-width: 100%;
    padding: var(--space-xl) var(--space-s);

    * {
      color: var(--color-black-alt);
    }
  }

  .grid-container {
    display: grid;
    gap: var(--space-m);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    max-width: 1536px;
    margin: 0 auto;
  }

  .image-container {
    position: relative;
  }

  .text {
    position: absolute;
    top: 0;
    padding-left: var(--space-s);
    background: rgba(0, 0, 0, 0.368);
    margin: 0 !important;

    h1,
    span {
      color: var(--color-white-alt);
    }
  }

  #profile-picture {
    box-shadow: 10px 10px 0px 0px grey;
  }

  p,
  a {
    font-size: var(--step-1);
  }

  .paragraph {
    margin-bottom: var(--space-m);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-m);
    list-style-type: none;
    margin: var(--space-l) 0 0 0;
    padding: 0;
  }

  li {
    align-items: center;
    display: flex;
    gap: var(--space-xs);
  }

  .icon {
    height: 48px;
    width: 48px;
  }

  .text-container {
    align-self: center;
  }

  .text {
    margin-top: var(--space-m);
  }

  mark {
    background: var(--color-black-alt);
    color: var(--color-white-alt);
  }
</style>
