---
import { Image } from '@astrojs/image/components';
import Divider from '@components/Divider.astro';

import pictureOfMe from '@images/picture-of-me.jpg';
import gitHub from '@images/icons/github.svg';
import linkedIn from '@images/icons/linkedin.svg';
import mastodon from '@images/icons/mastodon.svg';

const socialLinks = [
  {
    alt: 'Steve Frenzel on GitHub',
    icon: gitHub,
    name: 'GitHub',
    url: 'https://github.com/stevefrenzel',
  },
  {
    alt: 'Steve Frenzel on LinkedIn',
    icon: linkedIn,
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/stevefrenzel/',
  },
  {
    alt: 'Steve Frenzel on Mastodon',
    icon: mastodon,
    name: 'Mastodon',
    url: 'https://mastodon.online/@stvfrnzl',
  },
];
---

<section aria-label='Intro' id='intro'>
  <div class='grid-container'>
    <Image
      alt='Steve Frenzel - Web developer & accessibility engineer'
      src={pictureOfMe}
      style='object-fit: cover;'
      width={600}
      height={500}
      id='profile-picture'
    />
    <div class='text-container'>
      <h1>Steve Frenzel</h1>
      <span class='sub-headline'>Web developer & accessibility engineer</span>
      <p class='paragraph'>
        I specialize in designing and implementing robust and inclusive
        websites. My focus is on accessibility, which I educate about and
        implement practically. I am also a music nerd and love hot sauces! 🔥
      </p>
      <p>
        If you want to get in touch with me, fill out the <a href='#contact'
          >contact form</a
        >. You can also find me on the following platforms:
      </p>
      <ul>
        {
          socialLinks.map((item) => (
            <li>
              <Image alt={item.alt} class='icon' src={item.icon} />
              <a href={item.url} rel='noopener noreferrer'>
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
<Divider />

<style>
  section {
    margin-top: var(--space-l);
    max-width: 1536px;
  }
  .grid-container {
    display: grid;
    gap: var(--space-m);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
  }

  #profile-picture {
    border: 3px solid var(--color-white);
  }

  .paragraph {
    margin: var(--space-l) 0 var(--space-m) 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-m);
    justify-content: center;
    list-style-type: none;
    margin: var(--space-l) 0 0 0;
    padding: 0;
  }

  li {
    align-items: center;
    display: flex;
    gap: var(--space-xs);
  }

  .icon {
    height: 48px;
    width: 48px;
  }

  .text-container {
    align-self: center;
  }

  .text {
    margin-top: var(--space-m);
  }
</style>
