---
import { Image } from '@astrojs/image/components';

import pictureOfMe from '@assets/images/picture-of-me.jpg';
import gitHub from '@assets/images/icons/github.svg';
import linkedIn from '@assets/images/icons/linkedin.svg';
import mastodon from '@assets/images/icons/mastodon.svg';

const iconSize = 44;
const socialLinks = [
  {
    logo: gitHub,
    name: 'GitHub',
    url: 'https://github.com/stevefrenzel',
  },
  {
    logo: linkedIn,
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/stevefrenzel/',
  },
  {
    logo: mastodon,
    name: 'Mastodon',
    url: 'https://mastodon.online/@stvfrnzl',
    mastodonLink: true,
  },
];
---

<section aria-label='introduction' id='intro'>
  <div class='picture-and-text'>
    <Image
      alt='Steve Frenzel, web developer and accessibility engineer'
      class='profile-picture'
      height={400}
      src={pictureOfMe}
      width={400}
    />
    <div class='text'>
      <h1>Steve Frenzel</h1>
      <img src={socialLinks[0].logo} alt='' />
      <span class='sub-headline'>Web Developer & Accessibility Engineer</span>
      <p class='paragraph'>
        I specialize in designing and implementing robust and inclusive web
        applications. My focus is on accessibility, which I educate about and
        implement practically. I am also a music nerd and love hot sauces! 🔥
      </p>
    </div>
    <p>
      If you want to get in touch with me, fill out the <a href='#contact'
        >contact form</a
      >. You can also find me on the following platforms:
    </p>
    <ul>
      {
        socialLinks.map((item) => (
          <li>
            <Image
              alt={item.name}
              src={item.logo}
              height={iconSize}
              width={iconSize}
            />
            <a
              href={item.url}
              rel={`${
                item.mastodonLink
                  ? 'me noopener noreferrer'
                  : 'noopener noreferrer'
              }`}
            >
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <hr />
</section>

<style lang='scss'>
  section {
    padding-top: 4.5rem;

    h1,
    span {
      font-family: 'AtkinsonHyperlegibleBold', sans-serif;
    }

    h1 {
      font-size: var(--h1);
    }

    p {
      margin-top: 1rem;
    }

    a {
      color: var(--black);
    }

    .picture-and-text {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-between;

      .profile-picture {
        box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
        -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
        object-fit: cover;
      }

      .text {
        max-width: 30ch;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin: 1em 0 0 0;
      padding: 0;

      li {
        align-items: center;
        display: flex;
        gap: 0.75rem;
        list-style: none;
      }
    }
  }
</style>
