---
// TODO Use symbol for external links
// TODO Create video component
// TODO Add functionality to stop all videos, to don't show them at all and don't show them when user preference

import { Image } from '@astrojs/image/components';
import TextAndPicture from './TextAndPicture.astro';

import larry from '@assets/images/larry-reading-manual.svg';

// Images
import adecco from '@assets/images/screenshots/adecco.png';
import aufewigwinter from '@assets/images/screenshots/aufewigwinter.png';
import koraWinter from '@assets/images/screenshots/kora-winter.png';
import nexum from '@assets/images/screenshots/nexum.png';
import niessing from '@assets/images/screenshots/niessing.png';
import owncloud from '@assets/images/screenshots/owncloud.png';
import sellwerk from '@assets/images/screenshots/sellwerk.png';
import svti from '@assets/images/screenshots/svti.png';
import thankYouNext from '@assets/images/screenshots/thank-you-next.png';

// Variables
const altText = 'Larry reading a manual and looking very confused';
const description =
  "Here you can find a selection of projects I've been directly or indirectly involved in. This includes <mark>commercial as well as personal</mark> ones:";
const headline = "What I've done";
const projects = [
  {
    url: 'https://www.adecco-jobs.com/',
    name: 'Adecco Jobs',
    image: adecco,
    altText: 'Screenshot of Adecco Jobs website',
  },
  {
    url: 'https://www.aufewigwinter.de/',
    name: 'aufewigwinter',
    image: aufewigwinter,
    altText: 'Screenshot of Auf Ewig Winter website',
  },
  {
    url: 'https://www.korawinter.de/',
    name: 'Kora Winter',
    image: koraWinter,
    altText: 'Screenshot of Kora Winter website',
  },
  {
    url: 'https://www.nexum.com/',
    name: 'nexum AG',
    image: nexum,
    altText: 'Screenshot of Nexum website',
  },
  {
    url: 'https://niessing.com/',
    name: 'Niessing',
    image: niessing,
    altText: 'Screenshot of Niessing website',
  },
  {
    url: 'https://owncloud.com/',
    name: 'ownCloud',
    image: owncloud,
    altText: 'Screenshot of Own Cloud website',
  },
  {
    url: 'https://sellwerk.de/',
    name: 'Sellwerk',
    image: sellwerk,
    altText: 'Screenshot of Sellwerk website',
  },
  {
    url: 'https://www.svti.ch/',
    name: 'SVTI',
    image: svti,
    altText: 'Screenshot of SVTI website',
  },
  {
    url: 'https://thankyounext.vercel.app/',
    name: 'ThankYouNext',
    image: thankYouNext,
    altText: 'Screenshot of Thank You Next website',
  },
];
---

<section aria-label='projects' id='projects'>
  <TextAndPicture
    altText={altText}
    ariaLabel='Projects'
    description={description}
    headline={headline}
    headlineId='projects'
    image={larry}
  />

  <ul>
    {
      projects.map((item) => (
        <li>
          <Image src={item.image} alt={item.altText} width={800} height={454} />
          <a href={item.url} rel='noopener noreferrer'>
            {item.name}
          </a>
        </li>
      ))
    }
  </ul>

  <hr />
</section>

<style lang='scss'>
  section {
    video {
      border: 2px solid black;
      width: 100%;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
      margin: 1em 0 0 0;
      padding: 0;

      li {
        list-style-type: none;
        display: flex;
        flex-direction: column;

        img {
          border: 2px solid black;
          height: 330px;
          width: auto;
          object-fit: cover;
        }

        a {
          color: black;
        }
      }
    }
  }
</style>
