---
import { Image } from '@astrojs/image/components';

export interface Props {
  altText: string;
  ariaLabel: string;
  description: string;
  headline: string;
  headlineId: string;
  image: string;
  pictureLeft?: boolean;
}

const {
  altText,
  ariaLabel,
  description,
  headline,
  headlineId,
  image,
  pictureLeft,
} = Astro.props;
---

<div class='text-and-picture'>
  {pictureLeft && <Image src={image} alt={altText} height={400} width={400} />}
  <div>
    <div class='headline'>
      <h2 id={headlineId} tabindex='-1'>{headline}</h2>
      <a href={`#${headlineId}`} aria-label={`Link to ${ariaLabel}`}>#</a>
    </div>
    <p set:html={description} />
  </div>
  {!pictureLeft && <Image src={image} alt={altText} height={400} width={400} />}
</div>

<style lang='scss'>
  .text-and-picture {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      display: flex;
      flex: 2;
      flex-direction: column;
      justify-content: center;
      min-width: 200px;
    }

    .headline {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: left;
      align-items: center;

      h2 {
        margin-right: 0.5em;
      }

      a {
        color: #000;
      }
    }

    img {
      flex: 1;
    }
  }
</style>
