---
import "@styles/variables.css";
import "@styles/global.css";
import "@styles/resume.css";
import "@styles/blog.css";
import "@styles/reset.css";

import BackToTop from "@utils/BackToTop.astro";
import { ClientRouter } from "astro:transitions";

export interface Props {
  description?: string;
  // TODO Do not use any, replace with correct type
  thumbnail?: any;
  title: string;
}

const metaData = {
  keywords:
    "web development, programming, accessibility, html, css, javascript",
  imageType: "image/png",
  imageWidth: "1600",
  imageHeight: "882",
  type: "website",
  siteName: "Steve Frenzel",
  twitterCard: "summary_large_image",
};

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL("/seo.png", Astro.url);
const {
  description = "Designing and implementing robust and inclusive websites. Also teaching about accessibility!",
  thumbnail = socialImageURL,
  title,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content={metaData.keywords} />
    <meta name="description" content={description} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Blog by Steve Frenzel"
      href="https://stevefrenzel.dev/rss.xml"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon-sf.svg" />
    <link rel="canonical" href={canonicalURL} />
    <link
      rel="webmention"
      href="https://webmention.io/stevefrenzel.dev/webmention"
    />
    <link rel="pingback" href="https://webmention.io/stevefrenzel.dev/xmlrpc" />
    <title>{title}</title>
    <ClientRouter />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:type" content={metaData.type} />
    <meta property="og:site_name" content={metaData.siteName} />
    <meta property="og:description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:image" content={thumbnail} />
    <meta property="og:image:type" content={metaData.imageType} />
    <meta property="og:image:alt" content={title} />
    <meta property="og:image:width" content={metaData.imageWidth} />
    <meta property="og:image:height" content={metaData.imageHeight} />
    <meta name="twitter:card" content={metaData.twitterCard} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={thumbnail} />
    <meta name="twitter:image:alt" content={title} />
    <meta name="fediverse:creator" content="@stvfrnzl@mastodon.online" />
  </head>
  <body>
    <div id="start"></div>
    <slot />
    <BackToTop />
    <script
      async
      data-goatcounter="https://stvfrnzl.goatcounter.com/count"
      is:inline
      src="//gc.zgo.at/count.js"></script>
  </body>
</html>
