---
export interface Props {
  websiteUrl: string;
  title: string;
}

const { websiteUrl, title } = Astro.props;

const metaData = {
  keywords:
    'web development, programming, accessibility, html, css, javascript',
  description:
    'Designing and implementing robust and inclusive websites. Also teaching about accessibility!',
  imageSource: 'https://stevefrenzel.dev/seo.png',
  imageType: 'image/png',
  imageWidth: '1600',
  imageHeight: '882',
  type: 'website',
  siteName: 'Steve Frenzel',
  twitterCard: 'summary_large_image',
};
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='keywords' content={metaData.keywords} />
    <meta name='description' content={metaData.description} />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='canonical' href={websiteUrl} />
    <title>{title}</title>
    <meta property='og:url' content={websiteUrl} />
    <meta property='og:type' content={metaData.type} />
    <meta property='og:site_name' content={metaData.siteName} />
    <meta property='og:description' content={metaData.description} />
    <meta property='og:title' content={title} />
    <meta property='og:image' content={metaData.imageSource} />
    <meta property='og:image:type' content={metaData.imageType} />
    <meta property='og:image:alt' content={title} />
    <meta property='og:image:width' content={metaData.imageWidth} />
    <meta property='og:image:height' content={metaData.imageHeight} />
    <meta name='twitter:card' content={metaData.twitterCard} />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={metaData.description} />
    <meta name='twitter:image' content={metaData.imageSource} />
    <meta name='twitter:image:alt' content={title} />
  </head>
  <body>
    <div id='start'></div>
    <slot />
  </body>
</html>

<style>
  #start {
    width: 1px;
    height: 1px;
    background: transparent;
    position: absolute;
    top: -1px;
  }
</style>
