---
import { Image } from "astro:assets";
import type { FrontmatterProps } from "src/types/FrontmatterProps";

interface Props {
  canonicalURL: URL;
  dateFormatted: string;
  frontmatter: FrontmatterProps;
}

const { canonicalURL, dateFormatted, frontmatter } = Astro.props;
---

<section
  aria-label="Meta data for the IndieWeb"
  class="h-entry visually-hidden"
>
  <div class="p-name">{frontmatter.title}</div>
  <div class="p-author h-card">
    <Image
      alt="Steve Frenzel"
      height="1"
      class="u-photo"
      src="https://www.stevefrenzel.dev/picture-of-me.jpg"
      width="1"
    />
    {frontmatter.author}
  </div>
  <div class="p-summary">{frontmatter.description}</div>
  <a class="u-url" href={canonicalURL}
    ><div class="dt-published">{dateFormatted}</div></a
  >
  <div class="e-content">
    <slot />
  </div>
  {
    frontmatter.tags.map((tag) => (
      <a class="p-category" href={`/tags/${tag}`}>
        {tag}
      </a>
    ))
  }
</section>
