---
import { Image } from "astro:assets";

interface AuthorProps {
  name: string;
  photo: string;
  url: string;
}

interface WebmentionProps {
  author: AuthorProps;
  "wm-received": string;
  "wm-property": string;
}

interface Props {
  webmentions: WebmentionProps[];
}

const { webmentions } = Astro.props;

const options: any = {
  day: "numeric",
  month: "long",
  year: "numeric",
};

const showDate = (webmention: string) =>
  new Date(webmention).toLocaleDateString(undefined, options);

// TODO Will use is some other time

// const amountOfLikes = webmentions
//   .map((webmention) => webmention["wm-property"])
//   .filter((item) => item === "like-of").length;
// const amountOfReposts = webmentions
//   .map((webmention) => webmention["wm-property"])
//   .filter((item) => item === "repost-of").length;
---

{
  webmentions.length > 0 ? (
    <section aria-label="Webmentions">
      <h2>Webmentions</h2>

      {/* TODO Change emojis for SVGs */}
      {/* <ul class="info">
        {amountOfLikes > 0 ? (
          <li aria-label={`${amountOfLikes} Like(s)`}>
            {amountOfLikes} Like(s) 👍
          </li>
        ) : null}
        {amountOfReposts > 0 ? (
          <li aria-label={`${amountOfReposts} Repost(s)`}>
            {amountOfReposts} Repost(s) 🔄
          </li>
        ) : null}
      </ul> */}

      <ul>
        {webmentions.map((webmention: WebmentionProps) => (
          <li>
            {webmention.author.photo ? (
              <Image
                alt=""
                height="50"
                src={webmention.author.photo}
                width="50"
              />
            ) : null}

            {webmention["wm-property"] === "like-of" ? (
              <div
                aria-label={`Liked by ${webmention.author.name} on ${showDate(webmention["wm-received"])}`}
              >
                <time aria-hidden="true" datetime={webmention["wm-received"]}>
                  {showDate(webmention["wm-received"])}
                </time>
                <span aria-hidden="true"> - Liked by </span>
                <a href={webmention.author.url} rel="author">
                  {webmention.author.name}
                </a>
              </div>
            ) : null}

            {webmention["wm-property"] === "repost-of" ? (
              <div
                aria-label={`Reposted by ${webmention.author.name} on ${showDate(webmention["wm-received"])}`}
              >
                <time aria-hidden="true" datetime={webmention["wm-received"]}>
                  {showDate(webmention["wm-received"])}
                </time>
                <span aria-hidden="true"> - Reposted by </span>
                <a href={webmention.author.url} rel="author">
                  {webmention.author.name}
                </a>
              </div>
            ) : null}
          </li>
        ))}
      </ul>
    </section>
  ) : null
}

<style>
  section {
    border-radius: 15px;
    margin-top: var(--space-l);
  }

  h2 {
    font-size: var(--step-2);
    margin-top: var(--space-s);
  }

  .info {
    display: flex;
    gap: var(--space-xs);
    flex-direction: row;
    flex-wrap: wrap;
    font-size: var(--step-0);
    margin-top: var(--space-xs);
  }

  a {
    font-size: var(--step-0);
  }

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--space-m);
    padding: 0;
  }

  li {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s);
    list-style-type: none;
  }

  div {
    font-size: var(--step-0);
    margin: 0;
  }

  img {
    border-radius: 50%;
    margin: 0 !important;
    max-height: 40px;
    max-width: 40px;
  }

  time {
    font-size: inherit;
  }
</style>
